.button-container {
    margin-top: 300px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#button2, #button3 {
    display: none; /* Initially hide the second and third buttons */
}

header {
    width: 50%;
    height: 25%;
    background-color: rgb(112, 66, 10);
    border-radius: 20px;
    border-style: dashed;
    position: absolute;
    top: 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details {
    color: aquamarine;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}